body { background-color: #F2F2F2;
	   margin-left:50px;
	   margin-right:50px; }
*	 {color:black;
	  font-family:Helevtica,Arial,sans-serif; }
h1   {font-size:300%;
	  color:#0B2161;
	  font-family:Helevtica,Arial,sans-serif; }
h2   {font-size:200%;
	  color:#0B2161;
	  font-family:Helevtica,Arial,sans-serif; 
	  margin-top:100px; }
.italic {font-size:200%;
		 font-style:italic;
		 color:#0B2161;
		 border-top:solid thin black; }
th { background-color: #0B2161;
	 color:#FFFFFF;}
tr { background-color: #99CCFF;
	 color:#0B2161;}    
	 